<div class="container" [ngClass]="{illustrated: illustration || alwaysShowLeftPanel}">
    <ng-container *ngIf="illustration || alwaysShowLeftPanel">
        <div *ngIf="!illustration"></div>
        <ng-container *ngIf="illustration" [ngSwitch]="illustration">
            <lottie-player
                class="illustration"
                *ngSwitchCase="'machine'"
                src="../../../assets/animations/machine.json"
                background="transparent"
                speed="1"
                style="width: 160px; height: 160px;"
                loop autoplay
            ></lottie-player>
            <taco-logo
                size="1000"
                class="illustration"
                logo="dude-white"
                *ngSwitchCase="'dude-white'"
            ></taco-logo>
            <taco-illustration
                class="illustration"
                illustration="{{illustration}}"
                *ngSwitchDefault
                size="xxxxxxlg"
            ></taco-illustration>
        </ng-container>
    </ng-container>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
