:host {
    width: 100%;
    min-height: 100%;
}

.container {
    padding: 30px;
    display: grid;
    max-width: 1088px;
    grid-template-columns: 1fr;
    align-items: center;
    &.illustrated {
        grid-template-columns: 1fr 1fr;
    }
}

.content {
    text-align: left;
}

.illustration {
    align-self: center;
    justify-self: center;
    transform: scale(1.8);
}
