<ng-container [ngSwitch]="inkService.currentTemplate">
    <div *ngSwitchCase="Templates.None"></div>
    <app-title *ngSwitchCase="Templates.Title"></app-title>
    <app-content-intro *ngSwitchCase="Templates.ContentIntro"></app-content-intro>
    <app-content-intro *ngSwitchCase="Templates.Result"></app-content-intro>
    <app-chapter-title *ngSwitchCase="Templates.ChapterTitle"></app-chapter-title>
    <app-story-bite *ngSwitchCase="Templates.StoryBite"></app-story-bite>
    <app-story-bite-illustrated *ngSwitchCase="Templates.StoryBiteIllustrated"></app-story-bite-illustrated>
    <app-story-scene *ngSwitchCase="Templates.StoryScene"></app-story-scene>
    <app-rating *ngSwitchCase="Templates.Rating"></app-rating>
    <app-summary *ngSwitchCase="Templates.RatingSummary"></app-summary>
    <app-multi-choice *ngSwitchCase="Templates.MultiChoice"></app-multi-choice>
    <div class="container" *ngSwitchDefault>
        <app-basic class="reader reader--{{inkService.currentTemplate}}"></app-basic>
    </div>
</ng-container>
