<div class="title__wrapper" [@fadeIn]="true">
    <div [ngSwitch]="illustration">
        <taco-logo
            [@shiftLeft]="showIllustration"
            size="1000"
            class="illustration"
            logo="dude-white"
            *ngSwitchCase="'dude-white'"
        ></taco-logo>
        <taco-illustration
            [@shiftLeft]="showIllustration"
            class="illustration"
            illustration="{{illustration}}"
            *ngSwitchDefault
            size="xxxxxxlg"
        ></taco-illustration>
    </div>
    <app-basic
        class="reader"
        alignment="left"
        [@visible]="showIllustration"
    ></app-basic>
</div>
