<div class="wrapper wrapper--bg-{{currentBackground}}">
    <div></div>
    <div class="container">
        <ng-container [ngSwitch]="currentAccent">
            <img class="accent" *ngSwitchCase="'stars'" src="../assets/img/bg-stars.svg" />
            <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
        <div class="reader reader--{{currentMode}} reader--cols-{{numColumns}}">
            @if (numColumns === 2) {
                <div class="reader--left">
                    <div class="text-wrapper" [@fadeIn]="groups['left']?.length">
                        @for (line of groups['left']; track line.content) {
                            <ng-container [ngSwitch]="line.type">
                                <div
                                    class="text"
                                    [innerHTML]="line.content"
                                    *ngSwitchDefault>
                                </div>
                                <taco-illustration
                                    class="text"
                                    illustration="{{line.content}}"
                                    size="xxxxxlg"
                                    *ngSwitchCase="'illustration'"
                                ></taco-illustration>
        
                            </ng-container>
                        }
                    </div>
                </div>
            } @else {
                <div></div>
            }
            <div class="reader--right">
                <ng-container [ngTemplateOutlet]="main"></ng-container>
            </div>
        </div>
        
    </div>    
</div>

<ng-template #main>
    <div class="text-wrapper" [@fadeIn]="groups['right']?.length">
        @for (line of groups['right']; track line.content) {
            <ng-container [ngSwitch]="line.type">
                <div
                    class="text"
                    [innerHTML]="line.content"
                    *ngSwitchDefault>
                </div>
                <taco-illustration
                    class="text"
                    illustration="{{line.content}}"
                    size="xxxxlg"
                    *ngSwitchCase="'illustration'"
                ></taco-illustration>

            </ng-container>
        }
    </div>
    <app-choice-list
        [mode]="currentChoiceMode"
        [choices]="currentChoices"
        [attr.alignment]="currentMode === 'text' ? 'left' : 'center'"
        (handleChoice)="SelectChoice($event)"
    ></app-choice-list>
</ng-template>
