
<div class="sidebar__section sidebar__section--student-info sidebar__section--{{background}}">
    <div>
        <div class="sidebar__header sidebar__header--student-info">
            <div class="sidebar__badge">
                <img class="badge__bg" src="../../../assets/img/badge.svg" alt="" />
                <span class="badge__level">1</span>
            </div>
            <div>
                <b>Maya Anderson</b>
                <span>{{currentXP}}xp</span>
            </div>
        </div>
        <div>
            <app-meter [watch]="'xp'" class="meter" [color]="'blue'"></app-meter>
        </div>
    </div>
</div>
<div class="sidebar__section sidebar__section--balance sidebar__section--{{background}}">
    <div class="sidebar__header sidebar__header--balance">
        <div class="sidebar__badge">
            <taco-illustration size="xlg" illustration="il-balance-heart-brain"></taco-illustration>
        </div>
        <div>
            <b>Work-life balance</b>
        </div>
    </div>
    <div>
        <div class="meter">
            <label>Career</label>
            <app-meter [watch]="'career'"></app-meter>    
        </div>
        <div class="meter">
            <label>Well-being</label>
            <app-meter [watch]="'wellbeing'"></app-meter>
        </div>
    </div>
</div>

<div class="sidebar__section sidebar__section--story sidebar__section--{{background}}">
    <div class="sidebar__header">
        <div class="sidebar__badge">
            <taco-illustration size="xlg" illustration="il-shirt-book-cellphone"></taco-illustration>
        </div>
        <div>
            <b>Prologue</b>
            <span>The Transformation</span>
        </div>
    </div>
</div>
