.reader {
    display: flex;
    flex-direction: column;
    row-gap: var(--taco-space-300);
    font-size: var(--taco-font-size-400);
    padding: 0 27px;

    .text-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--taco-space-300);     
    }

    .choices {
        justify-content: flex-start;
    }
}

.accent {
    position: absolute;
    top: -37px;
    left: 27px;
}
