<div class="container">
    <ng-container [ngSwitch]="inkService.currentAccent">
        <img class="accent" *ngSwitchCase="'stars'" alt="" src="../assets/img/bg-stars.svg" />
        <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
    <div class="reader reader--text">
        <div class="text-wrapper" [@fadeIn]="inkService.groups['right']?.length">
            @for (line of inkService.groups['right']; track line.content) {
                <ng-container [ngSwitch]="line.type">
                    <div
                        class="text"
                        [innerHTML]="line.content"
                        *ngSwitchDefault>
                    </div>
                    <taco-illustration
                        class="text"
                        illustration="{{line.content}}"
                        size="xxxxlg"
                        *ngSwitchCase="'illustration'"
                    ></taco-illustration>
                </ng-container>
            }
        </div>
        <app-choice-list
            [mode]="inkService.currentChoiceMode"
            [choices]="inkService.currentChoices"
            [attr.alignment]="inkService.currentMode === 'text' ? 'left' : 'center'"
            (handleChoice)="inkService.SelectChoice($event)"
        ></app-choice-list>        
    </div>
</div>
