<div class="column">
    <app-user-basic-info class="basic-info"></app-user-basic-info>
    <app-user-aspiration class="aspiration"></app-user-aspiration>
    <app-user-career class="career"></app-user-career>
    <app-user-education class="education"></app-user-education>
</div>

<div class="divider"></div>

<div class="column">
    <app-user-wellbeing class="wellbeing"></app-user-wellbeing>
    <app-user-chapter-progress class="chapter-progress"></app-user-chapter-progress>
    <app-user-money class="money"></app-user-money>
</div>
