
.app__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #34496B80;
    z-index: 1;
}

.illustration__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}
