<div class="container">
    @if (inkService.numColumns === 2) {
        <div class="reader--left">
            <div class="text-wrapper" [@fadeIn]="inkService.groups['left']?.length">
                @for (line of inkService.groups['left']; track line.content) {
                    <ng-container [ngSwitch]="line.type">
                        <div
                            class="text"
                            [innerHTML]="line.content"
                            *ngSwitchDefault>
                        </div>
                        <taco-illustration
                            class="text"
                            illustration="{{line.content}}"
                            size="xxxxxlg"
                            *ngSwitchCase="'illustration'"
                        ></taco-illustration>
    
                    </ng-container>
                }
            </div>
        </div>
    } @else {
        <div></div>
    }
    <div class="reader--right">
        <app-basic></app-basic>
    </div>
</div>
