
.main__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-left: 285px;
    background-color: #34496B;
    z-index: 1;
}

.illustration__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer__items {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
    height: 100%;
}

.footer__item {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 8px;
    padding-right: 24px;

    &:not(:last-child) {
        border-right: solid 1px var(--taco-color-border-primary-on-dark);
    }
}

.footer__info {
    display: flex;
    flex-direction: column;
    font-size: var(--taco-font-size-175);
    color: var(--taco-color-text-secondary-on-dark);

    b {
        color: var(--taco-color-white-100);
        font-size: 24px;
    }
}
