
<div class="main__footer">
    <img class="illustration__wrapper" src="../assets/img/illustration_bg.svg" alt="" />
    <div class="footer__items">
        <div class="footer__item">
            <taco-illustration illustration="il-piggy-bank" size="xxlg"></taco-illustration>
            <div class="footer__info">
                <b>Bank: $20</b>
                <span>Payday in 6 days ($5,613)</span>
            </div>
        </div>
        <div class="footer__item">
            <taco-illustration illustration="il-clock-bills" size="xxlg"></taco-illustration>
            <div class="footer__info">
                <b>Bills: $0</b>
                <span>Due in 27 days</span>
            </div>
        </div>
    </div>
</div>
