:host {
    width: 100%;
}

.chance-card {
    &__wrapper {
        max-width: 752px;
        margin: 0 auto;    
        background-color: #34496BE5;
        padding: 24px;
        padding-left: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 160px 1fr;
    }
    &__illustration {
        margin: -11px -8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__body {
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        border-left: solid 1px var(--taco-color-grey-700);

        ::ng-deep p {
            margin-bottom: 16px;
        }
    }
}
