
.reader {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--taco-font-size-400);

  ::ng-deep {
    h1 {
      font-size: var(--taco-font-size-500);
      margin: 0;
    }
  }
}

.text-wrapper {
  margin-bottom: 16px;
}

.text {
  opacity: 1;
}
