
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        z-index: -1;
        background: linear-gradient(108.98deg, #905DA7 2.26%, #34496B 100.06%);
        transition: opacity .15s ease-in-out;
    }
}
