<ng-container *ngIf="!isLoading(); else loading">
    <div class="main__wrapper main__wrapper--full main__wrapper--bg-gradient"
         *ngIf="inkService.showFullUI; else simple">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <app-reader *ngIf="!isActionViewOpen" class="main__reader main__reader--full"></app-reader>
        <app-footer></app-footer>
    </div>
    
    <ng-template #simple>
        <div class="main__wrapper main__wrapper--simple main__wrapper--bg-{{inkService.currentBackground}}">
            <app-header></app-header>
            <app-reader *ngIf="!isActionViewOpen" class="main__reader main__reader--simple"></app-reader>
        </div>    
    </ng-template>
</ng-container>

<app-action-view></app-action-view>

<ng-template #loading>
    <div class="main__wrapper main__wrapper--simple main__wrapper--bg-{{inkService.currentBackground}}">
    </div>
</ng-template>