:host-context([alignment="left"]) {
    .choices {
        justify-content: flex-start;
    }
}

.choice {
    display: block;
    color: var(--taco-color-text-primary);
    font-size: var(--taco-font-size-175);
    cursor: pointer;

    &.active {
        border-color: var(--taco-color-blue-500);
        font-weight: 700;
    }
}

taco-button {
    display: block;
}

.choices {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 51px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.choice-button {
    padding: 16px;
    border: solid 1px var(--taco-color-border-primary);
}

.choices--list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 16px;

    .choice {
        border-radius: 4px;
        text-align: left;
    }

    taco-button {
        display: block;
    }
}

.choices__wrapper--rating {
    height: 100px;
}

.choices--rating {
    column-gap: 0;
    margin-bottom: 16px;

    .choice {
        padding: 4px;
        border: none;
        background: transparent;
        transform: transform .15s ease-in-out;

        &:hover, &:focus {
            transform: scale(1.25);
        }
    }
}

