
<div class="reader" [@fadeIn]="true">
    <app-basic class="content" [showChoices]="false"></app-basic>

    <div class="choice-frame">
        <div class="choice-frame__illustration" [ngClass]="illustrationBG">
            <taco-illustration illustration="{{illustration}}" size="xxxlg"></taco-illustration>
        </div>
        <div class="choice-frame__content">
            <span [innerHTML]="lookupContent()"></span>
            <app-choice-rating
                [choices]="inkService.currentChoices"
                class="choice-list"
                (handleSelect)="selectChoice($event)"
            ></app-choice-rating>
        </div>
    </div>

    <taco-button
        size="md"
        type="basic"
        class="choice choice__next"
        [attr.disabled]="!choiceSelected ? true : undefined"
        value="Next"
        (tacoButtonClick)="confirmChoice()"
    ></taco-button>
</div>
