:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1366px;
  padding: 0 32px;
}

.content {
  margin-bottom: 16px;
  display: block;
}

.choice-frame {
  display: grid;
  grid-template-columns: 112px 1fr;
  background-color: var(--taco-color-white-100);
  color: var(--taco-color-text-primary);
  margin: 16px 0;
  font-size: var(--taco-font-size-225);

  &__illustration {
    background-color: var(--taco-color-white-500);
    padding: 24px;
  }

  &__content {
    padding: 24px;
  }

  ::ng-deep {
    p:first-child {
      margin-top: 0;
    }
  }
}

.reader {
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
  
    ::ng-deep {
      font-size: var(--taco-font-size-300);
      h1 {
        font-size: var(--taco-font-size-400);
        margin: 0;
      }
      b { display: inline-block; }
    }
}
