
<div class="reader" [@fadeIn]="fadeIn">
    <div class="illustration__wrapper" *ngIf="illustration">
        <ng-container [ngSwitch]="illustration">
            <taco-logo
                size="1000"
                class="illustration"
                logo="dude-white"
                *ngSwitchCase="'dude-white'"
            ></taco-logo>
            <taco-illustration
                class="illustration"
                illustration="{{illustration}}"
                *ngSwitchDefault
                size="xxxxlg"
            ></taco-illustration>
        </ng-container>
    </div>
    <app-basic>
        <div *ngIf="results.length > 0" class="result__wrapper">
            <div *ngFor="let result of results" class="result__item">
                <taco-icon *ngIf="result.icon != ''" fill="white-100" icon="{{result.icon}}" size="md"></taco-icon>
                <span>
                    {{result.change > 0 ? ('+'+result.change) : result.change}}
                    {{result.name}}
                </span>
            </div>
        </div>
    </app-basic>
</div>
