
<div class="reader" [@fadeIn]="fadeIn">
    <div class="illustration__wrapper" *ngIf="illustration">
        <ng-container [ngSwitch]="illustration">
            <lottie-player
                class="illustration illustration--lottie"
                *ngSwitchCase="'machine'"
                src="../../../assets/animations/machine.json"
                background="transparent"
                speed="1"
                style="width: 160px; height: 160px;"
                loop autoplay
            ></lottie-player>
            <taco-logo
                size="1000"
                class="illustration"
                logo="dude-white"
                *ngSwitchCase="'dude-white'"
            ></taco-logo>
            <taco-illustration
                class="illustration"
                illustration="{{illustration}}"
                *ngSwitchDefault
                size="xxxxlg"
            ></taco-illustration>
        </ng-container>
    </div>
    <app-basic [context]="context">
        <app-result Padded class="result__wrapper"></app-result>
    </app-basic>
</div>
