:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1366px;
}

.illustration__wrapper {
  height: 160px;
  margin-bottom: 24px;
}
.illustration {
  transform-origin: top;
  transform: scale(2);
}

.result__wrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.result__item {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: var(--taco-font-size-175);
}

.reader {
    text-align: center;
    position: relative;
  
    ::ng-deep {
      font-size: var(--taco-font-size-225);
      h1 {
        font-size: var(--taco-font-size-300);
        margin: 0;
      }
      p {
        margin: 0;
      }
      b { display: inline-block; }
    }
}
