:host {
  $border-radius: 15px;
  $caret-size: 10px;

  position: fixed;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  top: 0;
  left: 0;
  min-width: 150px;
  max-width: 298px;
  z-index: 99;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16);
  border-radius: 4px;
  animation: fade-in .35s ease-in-out .1s both;

  &.show {
    opacity: 1;
  }

  .next-btn {
    display: block;
    margin-top: 16px;
  }

  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 4px;
    z-index: 3;
  }

  .caret {
    border-color: var(--taco-color-white-100);
    border-width: 0;
    position: absolute;
    width: 0;
    height: 0;

    &:after {
      content: '';
      z-index: 2;
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: solid $caret-size transparent;
    }
    &:before {
      content: "";
      z-index: 0;
      position: absolute;
      width: calc(#{$caret-size} * 2);
      height: calc(#{$caret-size} * 2);
      transform: rotate(45deg);
      background-color: rgba(0, 0, 0, 0.16);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }

    &.top {
      &:before {
        bottom: -($caret-size - 3px);
      }
      &:after {
        border-top-color: inherit;
      }
    }

    &.right {
      top: 50%;
      transform: translateY(-50%);
      &:before {
        left: -($caret-size - 6px);
      }
      &:after {
        left: -($caret-size + 6px);
        border-right-color: inherit;
        z-index: 99;
      }
    }

    &.left {
      top: 50%;
      transform: translateY(-50%);
      &:before {
        left: -($caret-size - 3px);
      }
      &:after {
        border-left-color: inherit;
      }
    }

    &.bottom {
      top: (-$caret-size) * 2;
      &:before {
        top: $caret-size + 3px;
      }
      &:after {
        border-bottom-color: inherit;
      }
    }
  }

  .content {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background-color: var(--taco-color-white-100);
    color: var(--taco-color-text-primary);
    padding: 16px 56px 16px 16px;
    width: 100%;
    line-height: 1.2em;
    z-index: 2;

    ::ng-deep {
      small {
        display: inline-block;
        font-size: var(--taco-font-size-175);
        margin-bottom: 8px;
      }
      p {
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.illustration {
  position: absolute;
  right: -70px;
  bottom: 0;

  &.ollex-anchor {
    top: 16px;
    bottom: unset;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
