
<div class="reader" [@fadeIn]="fadeIn">
    <div class="illustration__wrapper" *ngIf="illustration">
        <ng-container [ngSwitch]="illustration">
            <taco-logo
                size="1000"
                class="illustration"
                logo="dude-white"
                *ngSwitchCase="'dude-white'"
            ></taco-logo>
            <taco-illustration
                class="illustration"
                illustration="{{illustration}}"
                *ngSwitchDefault
                size="xxxxlg"
            ></taco-illustration>
        </ng-container>
    </div>
    <app-basic></app-basic>
</div>
