
<div class="reader" [@fadeIn]="fadeIn">
    <ng-container *ngIf="illustration" [ngSwitch]="illustration">
        <taco-logo
            size="1000"
            class="illustration"
            logo="dude-white"
            *ngSwitchCase="'dude-white'"
        ></taco-logo>
        <taco-illustration
            class="illustration"
            illustration="{{illustration}}"
            *ngSwitchDefault
            size="xxxxlg"
        ></taco-illustration>
    </ng-container>
    <app-basic></app-basic>
</div>
