<div class="content" [ngClass]="{ 'text-wrapper--animated': animate }" [@fadeIn]="animate ? inkStore.currentText().length : 0">
    @for (line of inkStore.currentText(); track line.id) {
        <ng-container [ngSwitch]="line.type">
            <div class="rating" *ngSwitchCase="'rating'">
                @for (i of [1, 2, 3, 4, 5]; track i) {
                    <taco-defined-icon
                        size="md"
                        fill="black-500"
                        [icon]="(i <= +line.content) ? 'icd-100-percent-star' : 'icd-0-percent-star'"
                    ></taco-defined-icon>
                }
                ({{line.content || 0}})
            </div>
            <div
                class="text"
                [innerHTML]="line.content"
                *ngSwitchDefault>
            </div>
        </ng-container>
    }
    <ng-content></ng-content>
</div>

<app-choice-list
    [mode]="inkStore.currentChoiceMode()"
    [choices]="inkStore.currentChoices()"
    *ngIf="showChoices && context == ReaderContext.Basic"
    class="choice-list"
    alignment="center"
    (handleChoice)="inkService.SelectChoice($event)"
></app-choice-list>
