
.choices {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 44px;
    column-gap: 0;
    margin-bottom: 16px;
    justify-content: center;
}

.choice-button {
    height: 44px;
}

.choice {
    padding: 0;
    border: none;
    background: transparent;
    transform: transform .15s ease-in-out;

    &:hover, &:focus {
        transform: scale(1.25);
    }
    &.hidden {
        opacity: 0;
    }
}

