
.reader {
  text-align: center;
  position: relative;
  font-size: var(--taco-font-size-500);

  ::ng-deep {
    h1 {
      font-size: var(--taco-font-size-700);
      margin: 0;
    }
  }
}

.text-wrapper {
  margin-bottom: 16px;
}

.text {
  opacity: 1;
}
