<div class="employee__wrapper">
    <div class="employee__employer">
        <h2>Urban Designs Inc.</h2>
        <div>552 Ponce de Leon blvd. Coral Gables, FL</div>
    </div>
    <div class="employee__info">
        <div class="employee__person">
            <taco-avatar firstName="Maya" lastName="Anderson" size="md" variant="circle"></taco-avatar>
            <div>
                <div class="employee__name">Maya Anderson</div>
                <taco-article size="md" headline="Civil engineer" desc="Employee ID: 3456789"></taco-article>    
            </div>
        </div>
        <div class="border"></div>
        <div></div>
    </div>
</div>
