:host {
    display: block;
    width: 592px;
    max-width: 100%;
}

.employee {
    &__employer {
        text-align: center;
        font-size: var(--taco-font-size-225);
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: solid 1px var(--taco-color-border-secondary);
        h2 {
            margin: 0;
            font-size: var(--taco-font-size-300);
        }
    }
    &__info {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        column-gap: 24px;
        align-items: center;

        .border {
            height: 100%;
            border-right: solid 1px var(--taco-color-white-900);
        }
    }
    &__person {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 8px;
    }
    &__name {
        font-weight: bold;
    }
    &__job-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 24px;
        column-gap: 16px;
    }
    &__data-point {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 8px;
    }
}
.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--taco-color-emerald-50);
}
