.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 40px 112px;
    width: 100%;
}

.wrapper {
    background: var(--taco-color-cornflower-900);
    background-color: var(--taco-color-cornflower-900);
    color: white;
    height: 100vh;

    display: grid;
    grid-template-rows: 64px 1fr;

    &--bg-gradient{
        background: linear-gradient(270deg, var(--taco-color-cornflower-900), var(--taco-color-purple-700));
    }
}

.reader {
    display: flex;
    flex-direction: column;
}

.reader--splash {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    ::ng-deep {
        font-size: var(--taco-font-size-500);
        h3 {
            font-size: var(--taco-font-size-700);
            margin: 0;
        }
    }
}

.reader--text {
    .text-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--taco-space-300);
        font-size: var(--taco-font-size-400);            
    }

    .choices {
        justify-content: flex-start;
    }
}

.text {
    opacity: 1;
}

.choice {
    display: block;
}

.choices {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 51px;
    margin-top: 20px;
}
