.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 40px 112px;
    width: 100%;
    position: relative;
}

.wrapper {
    background: var(--taco-color-cornflower-900);
    background-color: var(--taco-color-cornflower-900);
    color: white;
    height: 100vh;

    display: grid;
    grid-template-rows: 64px 1fr;

    &--bg-gradient{
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(108.98deg, #905DA7 2.26%, #34496B 100.06%);
            animation: fade-in .5s ease-in-out;
        }
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.accent {
    position: absolute;
    top: -37px;
    left: 27px;
}

.reader {
    display: flex;
    flex-direction: column;
    row-gap: var(--taco-space-300);
    font-size: var(--taco-font-size-300);
}

.reader--splash {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    ::ng-deep {
        h1 {
            font-size: var(--taco-font-size-700);
            margin: 0;
        }
        h2 {
            font-size: var(--taco-font-size-500);
            margin: 0;
        }
        h3 {
            font-size: var(--taco-font-size-400);
            margin: 0;
        }
    }
}

.reader--text {
    font-size: var(--taco-font-size-400);
    padding: 0 27px;

    .text-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--taco-space-300);     
    }

    .choices {
        justify-content: flex-start;
    }
}

.text {
    opacity: 1;
}

.choice {
    display: block;
}

.choices {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 51px;
}
