
.app__wrapper {
    display: grid;
    grid-template-areas: 'header'
                         'reader';
    grid-template-columns: 1fr;
    grid-template-rows: 0 1fr;
    min-height: 100vh;
    color: white;
    background: var(--taco-color-cornflower-900);
    background-color: var(--taco-color-cornflower-900);
    max-width: 1366px;
    margin: 0 auto;

    &--full {
        grid-template-areas: 'header header'
                             'sidebar reader'
                             'footer footer';
        grid-template-columns: 304px 1fr;
        grid-template-rows: 64px 1fr 100px;
        column-gap: var(--taco-space-400);
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: linear-gradient(108.98deg, #905DA7 2.26%, #34496B 100.06%);
        transition: opacity .15s ease-in-out;
    }
  
    &--bg-gradient{
        &:before {
            opacity: 1;
            transition: opacity .5s ease-in-out;
        }
    }
}

.action-bar {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__left, &__right {
        display: flex;
        align-items: center;
        padding: 0 27px;
    }
    &__right {
        justify-content: flex-end;
    }
}

.app__header {
    grid-area: header;
    height: 64px;
}
.app__sidebar {
    grid-area: sidebar;
}
.app__reader {
    grid-area: reader;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__footer {
    grid-area: footer;
    background-color: #34496B80;
    z-index: 1;
}

.illustration__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}
