<!--
<div class="app__wrapper--full">
    <div class="app__header action-bar">
        <div class="action-bar__left">
        </div>
        <div class="action-bar__right">
        </div>
    </div>
    <div class="app__sidebar"></div>
    <app-reader class="app__reader"></app-reader>
    <div class="app__footer">
        <img class="illustration__wrapper" src="../assets/img/illustration_bg.svg" alt="" />
    </div>
</div>
-->

<div class="app__wrapper app__wrapper--bg-{{inkService.currentBackground}}">
    <app-reader class="app__reader"></app-reader>
</div>
