:host {
    display: block;
}

:host-context(.choice-list--row) {
    .choices {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        justify-content: center;
        column-gap: 16px;
        max-width: 1088px;
        margin: 0 auto;
    }
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 16px;
    
    min-height: 51px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.choice {
    display: block;
    border-radius: 4px;
    text-align: left;

    &.hidden {
        opacity: 0;
    }
}
