<div class="choices__wrapper">
    <div class="choices"
        [@list]="choices.length">
        @for (choice of choices; track choice.index) {
            <app-choice-button [choice]="choice"></app-choice-button>
        }
        
        <taco-button
            size="md"
            type="basic"
            *ngIf="allowConfirm"
            class="choice choice__next"
            [ngClass]="{ 'hidden': !choices.length }"
            [attr.disabled]="(!inkStore.selectedChoice()) ? true : undefined"
            value="Next"
            (tacoButtonClick)="confirmChoice()"
        ></taco-button>
    </div>
</div>
