<div class="choices__wrapper">
    <div class="choices"
        [@list]="choices.length">
        @for (choice of choices; track choice.index) {
            <button
                size="md"
                type="basic"
                class="choice choice--square choice-button"
                [ngClass]="{ active: choiceSelected?.index === choice.index }"
                (click)="selectChoice(choice)">
                {{choice.text}}
            </button>
        }
        
        <taco-button
            size="md"
            type="basic"
            class="choice choice__next"
            [ngClass]="{ 'hidden': !choices.length }"
            [attr.disabled]="(!choiceSelected) ? true : undefined"
            value="Next"
            (tacoButtonClick)="confirmChoice()"
        ></taco-button>
    </div>
</div>
