:host {
    display: block;
    border-radius: var(--taco-unit-pixel-050);
    background-color: var(--taco-color-background-primary);
    padding: var(--taco-unit-pixel-300);
    color: var(--taco-color-text-primary);

    width: 100%;
}
