
<div class="sidebar__section">
    <div class="student__info">
        <div class="sidebar__badge">
            <img class="badge__bg" src="../../../assets/img/badge.svg" alt="" />
            <span class="badge__level">1</span>
        </div>
        <div>
            <span>Entry level</span>
            <b>Maya Anderson</b>
        </div>
    </div>
</div>
<div class="sidebar__section">
    <div class="student__info">
        <div class="sidebar__badge">
            <taco-illustration size="xlg" illustration="il-balance-heart-brain"></taco-illustration>
        </div>
        <div>
            <span>Work-life balance</span>
            <b>Role: Civil engineer</b>
        </div>
    </div>
</div>
