.choice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    row-gap: 12px;
    width: 100%;

    &--illustrated {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

:host-context(.action-view__wrapper) {
    .choice.active {
        background-color: var(--taco-color-blue-50);
    }
}

.choice__text {
    ::ng-deep b {
        font-size: var(--taco-font-size-225);
        line-height: var(--taco-font-line-height-300);
        display: block;
    }
}
