
::ng-deep {
    p {
        margin: 16px 0;
    }
}

:host-context(.illustrated) {
    .content {
        text-align: left;
    }
}

.rating {
    height: 24px;
    display: flex;
    column-gap: 8px;
    margin: 4px 0 16px 0;
}
