<div class="content" [ngClass]="{ 'text-wrapper--animated': animate }" [@fadeIn]="animate ? lines.length : 0">
    @for (line of lines; track line.id) {
        <div
            class="text"
            [innerHTML]="line.content">
        </div>
    }
</div>
<app-choice-list
    [mode]="inkService.currentChoiceMode"
    [choices]="inkService.currentChoices"
    *ngIf="showChoices"
    class="choice-list"
    alignment="center"
    (handleChoice)="inkService.SelectChoice($event)"
></app-choice-list>
