<div class="text-wrapper" [@fadeIn]="inkService.groups['right']?.length">
    @for (line of inkService.groups['right']; track line.content) {
        <ng-container [ngSwitch]="line.type">
            <div
                class="text"
                [innerHTML]="line.content"
                *ngSwitchDefault>
            </div>
            <taco-illustration
                class="text"
                illustration="{{line.content}}"
                size="xxxxlg"
                *ngSwitchCase="'illustration'"
            ></taco-illustration>
        </ng-container>
    }
</div>
<app-choice-list
    [mode]="inkService.currentChoiceMode"
    [choices]="inkService.currentChoices"
    alignment="center"
    (handleChoice)="inkService.SelectChoice($event)"
></app-choice-list>
