:host-context([alignment="left"]) {
    .choices {
        justify-content: flex-start;
    }
}

:host-context(.illustrated) {
    .choices {
        justify-content: flex-start;
    }
}

taco-button {
    display: block;
}

.choices {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 51px;
    margin-top: 16px;
    margin-bottom: 16px;
    animation: fade-in .35s ease-in-out both;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
