:host-context([alignment="left"]) {
    .choices {
        justify-content: flex-start;
    }
}

taco-button {
    display: block;
}

.choices {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    min-height: 51px;
    margin-top: 16px;
    margin-bottom: 16px;
}


:host-context(.illustrated) {
    .choices {
        justify-content: flex-start;
    }
}
