/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

button {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  padding: 12px 24px;
  border-radius: var(--taco-radius-all);
}

small {
  font-size: var(--taco-font-size-225);
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  color: white;
  width: 100%;
  height: 100%;
}
