/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

button {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  padding: 12px 24px;
  border-radius: var(--taco-radius-all);
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 40px 112px;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  background: var(--taco-color-cornflower-900);
  background-color: var(--taco-color-cornflower-900);
  color: white;
  height: 100vh;

  display: grid;
  grid-template-rows: 64px 1fr;

  &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: linear-gradient(108.98deg, #905DA7 2.26%, #34496B 100.06%);
      transition: opacity .15s ease-in-out;
  }

  &--bg-gradient{
      &:before {
          opacity: 1;
          transition: opacity .5s ease-in-out;
      }
  }
}
