<div class="action-view__wrapper">
    <div class="action-view__header">
        <div class="action-view__left">
            <!-- Progress bar -->
        </div>
        Title
        <div class="action-view__right">
            <taco-button size="sm" mode="dark" iconFill="white-100" type="close"></taco-button>
        </div>
    </div>

    <div class="action-view__content">
        <app-reader></app-reader>
    </div>

    <div class="action-view__footer">
        <taco-button type="basic" size="sm" value="Next"></taco-button>
    </div>
</div>
