<div class="action-view__wrapper" [@isOpen]="inkStore.isActionViewOpen()">
    <div class="action-view__header">
        <div class="action-view__left">
            <!-- Progress bar -->
        </div>
        {{actionViewTitle}}
        <div class="action-view__right">
            <taco-button size="sm" mode="dark" iconFill="white-100" type="close"></taco-button>
        </div>
    </div>

    <div class="action-view__content" *ngIf="inkStore.isActionViewOpen()">
        <app-reader [context]="ReaderContext.ActionView"></app-reader>
    </div>

    <div class="action-view__footer">
        <taco-button
            type="basic"
            size="sm"
            [disabled]="!allowNext() ? true : undefined"
            (tacoButtonClick)="onNext()"
            value="Next"
        ></taco-button>
    </div>
</div>
