<div class="container">
    <div class="illustration">
        <!-- Illustration -->
    </div>
    <div class="content">
        <div class="text-wrapper" [@fadeIn]="lines.length">
            @for (line of lines; track line.id) {
                <div
                    class="text"
                    [innerHTML]="line.content">
                </div>
            }
        </div>
        <app-choice-list-dense
            [choices]="inkService.currentChoices"
            class="choice-list"
            (handleChoice)="inkService.SelectChoice($event)"
        ></app-choice-list-dense>
    </div>
</div>
