<div class="container">
    <div class="text-wrapper" [@fadeIn]="lines.length">
        @for (line of lines; track line.id) {
            <ng-container [ngSwitch]="line.type">
                <div
                    class="text"
                    [innerHTML]="line.content"
                    *ngSwitchDefault>
                </div>
                <taco-illustration
                    class="text"
                    illustration="{{line.content}}"
                    size="xxxxlg"
                    *ngSwitchCase="'illustration'"
                ></taco-illustration>
            </ng-container>
        }
    </div>
    <app-choice-list-dense
        [choices]="inkService.currentChoices"
        class="choice-list"
        (handleChoice)="inkService.SelectChoice($event)"
    ></app-choice-list-dense>
</div>
