
.choices {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 44px;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.choice-button {
    height: 44px;
}

.choice {
    padding: 0;
    border: none;
    background: transparent;
    transition: transform .15s ease-in-out;

    &:not(.choice__next) {
        &:hover, &:focus {
            transform: scale(1.25);
        }
    }
    &.hidden {
        opacity: 0;
    }
}

